<h1>Test</h1>

<div ng-repeat="playlist in playlists">
    <a ng-show="playlist.name" ng-href="#/playlists/{{playlist.id}}" value="{{playlist}}">{{ playlist.name }}</a>
</div>

<div class="row">
  <form ng-submit="addPlaylist()" class="col s12 m8 l8">
    <div class="row">
      <div class="input-field">
        <input ng-model="name" type="text" class="validate" placeholder="Playlist Name">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right"></i>
    </button>
  </form>
</div>

