<!DOCTYPE html>
<html>
<head>
  <title>MusicInfo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
</head>
<body ng-app="musicInfo">

  <ui-view></ui-view>


</body>
</html>


         